{% extends "base.html" %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>プロフィール編集</h2>

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        <div class="general-fields">
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% for error in form.name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.furigana.label_tag }}
                {{ form.furigana }}
                {% for error in form.furigana.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.profile_image.label_tag }}
                {% if user.profile_image %}
                  <div>
                    <p>現在のプロフィール画像:</p>
                    <img src="{{ user.profile_image.url }}" alt="Current Profile Image" width="100">
                  </div>
                {% endif %}
                {{ form.profile_image }}
                {% for error in form.profile_image.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            

            <div class="form-group">
                {{ form.gender.label_tag }}
                {{ form.gender }}
                {% for error in form.gender.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.age.label_tag }}
                {{ form.age }}
                {% for error in form.age.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.bio.label_tag }}
                {{ form.bio }}
                {% for error in form.bio.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" id="submit-button" class="btn btn-primary mt-3">保存</button>
    </form>
</div>


{% endblock %}
