{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}月のいいねランキング{% endblock %}

{% block content %}
<ol>
    {% for profile in profiles %}
        <li>
            <img src="{{ profile.profile_image.url|default_if_none:'/media/profile_images/default_profile_image.jpg' }}" 
                 alt="Profile Image" width="100">
            <strong>{{ profile.user.name }}</strong> - 👍 
            <button class="like-btn toggle-status-btn" data-user-id="{{ profile.user.id }}">
                {{ profile.total_likes }}
            </button>
        </li>
    {% endfor %}
</ol>

<!-- Like機能用のスクリプト -->
<script>
    const likeToggleUrl = "{% url 'accounts:like_toggle' %}";
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'accounts/like_toggle.js' %}"></script>
{% endblock %}

