<!-- templates/inquiry/inquiry_create.html -->
<!DOCTYPE html>
<html>
<head>
    <title>お問い合わせフォーム</title>
    <style>
        select {
            width: 100%;
            height: 50px;
            font-size: 18px;
        }

        textarea {
            width: 100%;
            height: 200px;
            font-size: 18px;
        }
    </style>

</head>
<body>
    <h1>お問い合わせフォーム</h1>

    <form method="post">
        {% csrf_token %}
        
        <label for="{{ form.category.id_for_label }}">Category:</label>
        {{ form.category }}
        {% if form.category.errors %}
            <div class="error">
                {% for error in form.category.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    
        <label for="{{ form.body.id_for_label }}">Body:</label>
        {{ form.body }}
        {% if form.body.errors %}
            <div class="error">
                {% for error in form.body.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    
        <button type="submit">送信</button>
    </form>
</body>
</html>
